body {
    background:rgb(240, 117, 184);
}

h1 {
    color: rgb(4, 34, 206);
}

h2 {
    color:rgb(2, 102, 2);
}

/*need to change style or add a id or class so both lists aren't in the same box size*/
ol {
    background: rgb(182, 65, 182);
    height: 100px;
    width: 400px;
    padding: 50px;
    text-align: left;
    border-style: double;
    border-width: 50px black;
    border-radius: 50px;
}